# Systemd file used for deploying the project to Unix based systems.

[Unit]
Description=Personal website

[Service]
Type=idle
User=root
WorkingDirectory=/opt/personal-website/build
ExecStart=/usr/bin/node /opt/personal-website/environment/server/server.js
Restart=on-abort

[Install]
WantedBy=multi-user.target
